:root {
  --bg-base: hsl(45 100% 98%);
  --bg-mantle: hsl(45 100% 92%);
  --shadow: hsl(240 9% 5%);
  --titles: hsl(195 100% 0%);
  --text: hsl(195 100% 6%);
  --text-muted: hsl(195 100% 12%);
  --primary: hsl(250 17% 49%);
  --secondary: hsl(179 48% 60%);
  --danger: hsl(0 75% 60%);
  --warning: hsl(23 100% 63%);
  --success: hsl(98 42% 32%);
}

/* 
EB Garamond: 400-800
Fira Code: 300-700
*/

* {
  margin: 0px;
  padding: 0px; 
  border: 0px;
  font-size: 100%;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
  background-color: var(--bg-base);
  font-size: 22px;
  line-height: 1.5;
  overflow-wrap: break-word;
  text-wrap: pretty;
  color: var(--text);
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  color: var(--titles);
}

h1 {
  font-size: 44px;
  font-weight: 800;
  background-color: var(--bg-base);
  margin: 4px 0 4px 12px;
  padding: 0 4px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

em {
  font-style: italic;
}

header {
  background-color: transparent;
  z-index: 5;
  margin-bottom: -1.5em;
  display: flex;
}

.hidden {
  display: none;
}

#body {
  display: grid;
  grid-template-columns: repeat(auto-fill, 254px);
  grid-template-rows: min-content;
  gap: 1em;
  border: 2px solid var(--text);
  padding: 32px 18px;
}

.book {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  background-color: var(--bg-mantle);
  border: 2px solid var(--text);
  border-radius: 2px;
  p {
    font-size: 18px;
    padding-left: 4px;
  }
  h2 {
    padding-left: 4px;
  }
}

.cover {
  height: auto;
  width: 250px;
  grid-row: 1;
  grid-column: 1;
}

.icon {
  grid-row: 1;
  grid-column: 1;
  margin: 4px 4px 0 auto;
  background-color: var(--bg-base);
  border-radius: 12px;
}

#newBook {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
}

#new-button {
  margin: auto;
  font-family: "Fira Code", sans-serif;
  font-size: 7em;
  text-align: center;
  user-select: none;
}

#newBook:hover {
  p {
    color: var(--bg-mantle);
  }
}

form div,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px 0;
}

input {
  width: 225px;
  background-color: var(--bg-mantle);
  box-shadow: 2px 2px 4px var(--shadow) inset;
  border: 1px solid var(--shadow);
  border-radius: 6px;
  padding: 8px 12px;
}

button {
  padding: 6px 12px;
  border: 2px solid var(--primary);
  border-radius: 6px;
  margin: 4px 0;
  background-color: var(--bg-base);
}
