:root {
  --bg-base: hsl(45 100% 98%);
  --bg-mantle: hsl(240 9% 26%);
  --shadow: hsl(240 9% 5%);
  --titles: hsl(195 100% 0%);
  --text: hsl(195 100% 6%);
  --text-muted: hsl(195 100% 12%);
  --primary: hsl(250 17% 49%);
  --secondary: hsl(179% 48% 38%);
  --danger: hsl(0 75% 60%);
  --warning: hsl(23 100% 63%);
  --success: hsl(98 42% 32%);
}

/* 
EB Garamond: 400-800
Fira Code: 300-700
*/

* {
  margin: 0px;
  padding: 0px; 
  border: 0px;
  font-size: 100%;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
  background-color: var(--bg-base);
  font-size: 22px;
  line-height: 1.5;
  overflow-wrap: break-word;
  text-wrap: pretty;
  color: var(--text);
  display: flex;
  flex-direction: column;
  padding: 16px;
}

h1, h2, h3, h4 {
  color: var(--titles);
}

h1 {
  font-size: 44px;
  font-weight: 800;
  background-color: var(--bg-base);
  margin: 4px 0 4px 12px;
  padding: 0 4px;
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

em {
  font-style: italic;
}

header {
  background-color: transparent;
  z-index: 5;
  margin-bottom: -1.5em;
  display: flex;
}

#body {
  min-height: 100vh;
  border: 2px solid var(--text);
  padding: 32px 18px;
}
